*{
  margin: 0;
  padding: 0;
}

footer{
  max-width: 100%;
  background-color: transparent;
  display: flex;
  height: 6vh;
  color: black;
  align-items: center;
}
img{
  width: 50%;
  height: auto;
  margin-left: 5%;
}

