*{
  margin: 0;
  padding: 0;
}

footer{
  max-width: 100%;
  background-color: transparent;
  display: flex;
  height: 6vh;
  color: black;
  align-items: center;
}
.izquierda{
  width: 8%;
  margin-left: 1%;
}
img{
  width: 100%;
  height: auto;
}

