
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(45, 45, 45, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
  flex-wrap: wrap;
}
.loading-overlay .gif{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-overlay .gif img{
  max-width: 40%;
  max-height: 40%;
}
.loading-overlay .logo{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: slideUp 3s ease-out; /* Aplica la animación */
}
.loading-overlay .logo img{
  max-width: 65%;
  max-height: 65%;
}

@keyframes slideUp {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.contenedor{
  background-image: url("/assets/background/fondo2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
}
.pregunta{
  max-width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.75vw;
}
.pregunta .bienvenido{
  width: 100%;
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pregunta .texto{
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
.contenido {
  max-width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido .azul {
  margin: 2.5%;
  width: 12%;
  height: 73%;
  background-color: #013C72;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 12px 12px 17px rgba(0, 0, 0, 0.35); /* Sombra a la derecha y abajo */
}
.contenido .azul .logoTexto {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-rows: 50% 0.5% 49.5%;
  grid-template-areas:
    "logo"
    "amarillo"
    "texto";
}
.contenido .azul .logoTexto .logo {
  width: 100%;
  margin-top: 80%;
  display: flex;
  justify-content: center;
  grid-area: logo;
}
.contenido .azul .logoTexto .nombre {
  width: 80%;
  height: 100%;
  display: flex;
  margin-top: 25%;
  margin-left: 10%;
  color: white;
  justify-content: center;
  font-weight: 600;
  font-size: 1.4vw;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  grid-area: texto;
  position: absolute;
}
.contenido .azul .logoTexto .nombreGad {
  width: 80%;
  height: 100%;
  display: flex;
  margin-top: 25%;
  margin-left: 10%;
  color: white;
  font-weight: 600;
  font-size: 1.6vw;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  grid-area: texto;
  position: absolute;
  align-items: center;
  flex-direction: column;
}

.amarillo{
  width: 90%;
  position: absolute;
  height: 0.5%;
  background-color: #FFA80D;
  margin-left: 5%;
}

.contenido .azul .logo img {
  width: 4.75vw;
  height: auto;
}

.contenido .azul .imagen {
  width: 98%;
  height: 100%;
  position: absolute; /* Posiciona la imagen de manera absoluta */
  z-index: 1; /* Asegura que la imagen esté debajo del logo */
}

.contenido .azul .imagen img {
  width: 100%;
  height: 100%;
}


.azul {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.azul:hover {
  transform: scale(1.125);
}

.azul:active {
  transform: scale(0.8);
}
.textopequeno{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 0.8vw;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  margin-top: 8%;
}
