*{
  margin: 0;
  padding: 0;
}

header{
  max-width: 100%;
  background-color: transparent;
  display: flex;
  justify-content:center;
  height: 22vh;
  color: black;
  align-items: center;
}
img{
  width: 80%;
  height: auto;
  margin: auto;
}

